<!--
      PARTIALS
    
      <div class="card">
        <h3>¿Que son los partials?</h3>
        <p>
          Los partials son fragmentos de código EJS que se pueden
          <strong>reutilizar</strong> en múltiples vistas.
        </p>
      </div> -->
