/* Estilos del Navbar */
.navbar {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #2196f3;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.logo:hover {
  opacity: 0.9;
}
