* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.grid-container {
  /* height: 700px; */
  background-color: #ddd;
  padding: 20px;
  border: 1px solid grey;

  /* DISPLAY */
  display: grid;

  /* *************columns ***************/

  /* grid-template-columns: 300px 200px 300px; */
  grid-template-columns: repeat(3, 300px);
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-columns: repeat(3, 100px); */

  /* ************ rows **************/

  /* grid-template-rows: 300px 300px; */
  grid-template-rows: repeat(2, 300px);
  /*   grid-template-rows: auto; */
  /*  grid-template-rows: repeat(2, 100px); */

  /************** gap ******************/

  gap: 1rem;
  /* row-gap: 30px; */
  /*column-gap: 8px; */

  /***** centrado eje horizontal dentro de la celda ****/

  /* justify-items: center; */

  /****** centrado eje vertical dentro de la celda *****/

  /* align-items: center; */

  /* ********* alineacion del contenido horizontal ****/

  /* justify-content: center; */

  /* ********* alineacion del contenido horizontal ****/

  /* align-content: center; */
}

.grid-item {
  /*  width: 100px; */
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}

/* .grid-item:nth-child(1) {
  background-color: #ff6b6b;
}

.grid-item:nth-child(2) {
  background-color: #4ecdc4;
}

.grid-item:nth-child(3) {
  background-color: #45b7d1;
}

.grid-item:nth-child(4) {
  background-color: #96ceb4;
}
.grid-item:nth-child(5) {
  background-color: #ffeaa7;
}
.grid-item:nth-child(6) {
  background-color: #dda0dd;
} */

.item1 {
  /* grid-column: 1/3; */
  /* grid-row: 1/2; */
  background-color: #ff6b6b;
}
.item2 {
  /* grid-row: 1/3; */
  background-color: #4ecdc4;
}
.item3 {
  /*   grid-column: 1/3; */
  background-color: #45b7d1;
}
.item4 {
  /*  grid-column: 1/3; */
  background-color: #96ceb4;
}
.item5 {
  /* grid-column: 1/3; */
  background-color: #ffeaa7;
}
.item6 {
  /* grid-column: 1/4; */
  background-color: #dda0dd;
}
