:root {
  --color-primario: #0174ff;
  --padding-geeneral: 8px;
  --margin-section: 2rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: var(--color-primario);
  padding: 20px;
}
h1 {
  color: #fff;
  text-align: left;
  display: inline-block;
}
nav {
  display: inline-block;
  float: right;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: var(--padding-geeneral);
}

nav a {
  text-decoration: none;
  color: #fff;
}

h2 {
  text-align: center;
  margin-bottom: var(--margin-section);
  margin-top: var(--margin-section);
}
/* ********************** SERVICIO ********************* */

.servicios {
  width: 60%;
  margin: auto;
  margin-top: 2rem;
}
/* *************************EQUIPO ***********************/

.equipo {
  background-color: #e0e0e0;
  text-align: center;
  border: 1px solid#0174ff;
  padding: 1rem;
}
.equipo1 {
  width: 200px;
  display: inline-block;
  border: 1px solid#0174ff;
  margin: 0 30px;
  padding: var(--padding-geeneral);
}
.equipo2 {
  display: inline-block;
  width: 200px;
  border: 1px solid#0174ff;
  margin: 0 30px;
  padding: var(--padding-geeneral);
}

/******************************** CONTACTO ******************************/

.form {
  width: 60%;
  margin: auto;
  margin-bottom: var(--margin-section);
}

.form input {
  width: 100%;
}
